@model Sklub.Models.Mutation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mutation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Triggered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Triggered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasJoined)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
